@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-container {
    @apply relative;
}

@screen md {
    .page-container {
        @apply flex items-start max-w-6xl mx-auto;
    }
}

.container {
    @apply w-full px-6;
    max-width: inherit;
}

@screen lg {
    .container {
        @apply w-2/3 ml-auto;
    }
}

header.sticky {
    top: 55px;
}

.hide-scrollbar {
    width: calc(100% + 20px);
}

.people-item:last-child {
    border-bottom: 0;
}

.loader:before {
    content: "/";
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    animation: load .5s linear infinite;
}

@keyframes load {
    0% {
        content: "/";
    }

    25% {
        content: "–";
    }

    50% {
        content: "\005C";
    }

    75% {
        content: "|";
    }
}


/* Checkboxes */

.checkbox-container {
    @apply block relative pl-5 cursor-pointer;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

/* Create a custom checkbox */
.checkmark {
    @apply absolute top-0 left-0 h-3 w-3 bg-black border border-white mt-1;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input {
    @apply bg-gray-800;
}

.checkbox-container .label {
    @apply border-b border-transparent;
}

.checkbox-container:hover .label {
    @apply border-white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    @apply bg-white;
}