@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.transition {
    transition: all .1s ease-in;
}

.page-container {
    @apply relative;
}

@screen md {
    .page-container {
        @apply flex items-start max-w-6xl mx-auto;
    }
}

.container {
    @apply w-full px-6;
    max-width: inherit;
}

@screen lg {
    .container {
        @apply w-3/4 ml-auto;
    }
}

header.sticky {
    top: 55px;
}

.hide-scrollbar {
    width: calc(100% + 20px);
}

.people-item:last-child {
    border-bottom: 0;
}

.loader:before {
    content: "/";
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    animation: load .5s linear infinite;
}

@keyframes load {
    0% {
        content: "/";
    }

    25% {
        content: "–";
    }

    50% {
        content: "\005C";
    }

    75% {
        content: "|";
    }
}

input::placeholder {
    transition: all .1s ease-in;
    @apply text-gray-500;
    opacity: 1; /* Firefox */
}

input:hover::placeholder {
    @apply text-white;
    opacity: 1; /* Firefox */
}

select {
    transition: all .1s ease-in;
    min-width: 150px;
    padding-right: 24px;
    background: url('./assets/images/chevrondown.svg') no-repeat center right;
    background-size: 20px 16px;
}

.search-field:before {
    content: "";
    display: block;
    height: 18px;
    width: 18px;
    margin-right: 8px;
    background: url('./assets/images/search.svg') no-repeat center center;
    background-size: cover;
}

.img-wrapper {
    position: relative;
    height: 0;
    /* Formula is: (height / width * 100%) */
    padding-top: 140.15%;
    @apply bg-gray-900;
}

.img-wrapper:hover:before, .img-wrapper:hover:after {
    opacity: 1;
}

.img-wrapper:before {
    content: "";
    transition: all .1s ease-in;
    display: block;
    opacity: 0;
    height: 64px;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.35) 100%);
}

.img-wrapper:after {
    transition: all .1s ease-in;
    opacity: 0;
    position: absolute;
    bottom: 8px;
    right: 8px;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url('./assets/images/play.svg') no-repeat center center;
    background-size: cover;
    z-index: 2;
}

.img-wrapper.title-page:before {
    height: 80px;
}

.img-wrapper.title-page:after {
    width: 28px;
    height: 28px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.icon-button {
    height: 13px;
    width: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Checkboxes */

label {
    @apply block relative cursor-pointer;
}

/* Hide the browser's default checkbox */
label input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

/* Create a custom checkbox */
.checkmark {
    @apply absolute top-0 left-0 h-3 w-3 bg-black border border-white mt-1;
}

/* On mouse-over, add a grey background color */
label:hover input {
    @apply bg-gray-800;
}

label {
    @apply border-b border-transparent;
}

label:hover {
    @apply border-white;
}

label input:checked ~ .label {
    @apply text-white;
}